langgraph 
langsmith
langchain
openai
langchain-community
langchain-openai
gradio
google-generativeai
langchain-groq
langchain-ollama
langchain-deepseek
ipython 
ipykernel
langchain-tavily
langchain_google_genai
langchain-google-vertexai
langchain-mistralai
langchain-anthropic # we don't have subscription
langchain-xai
langgraph-checkpoint-sqlite
bs4
pypdf
faiss-cpu
nltk
langchain_experimental